* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Karla';
  src: url("../font/Karla-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: #F0F0F0;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body main {
  margin: 8.125% 22.5%;
}

body main .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1.25fr;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

body main .container .invite {
  grid-column: span 2;
  padding: 20px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body main .container .subscription {
  padding: 20px 30px;
  border-bottom-left-radius: 10px;
}

body main .container .subscription .text {
  display: flex;
  align-items: center;
}

body main .container .subscription .price .big {
  font-size: 25px;
}

body main .container .subscription .btn {
  text-align: center;
  padding: 10px 20px;
  border-radius: 7.5px;
  border: none;
}

body main .container .why-us {
  padding: 20px 30px;
  border-bottom-right-radius: 10px;
}

body main .container .why-us .list {
  list-style: none;
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  body main {
    margin: 7.5% 12.5%;
  }
}

@media only screen and (max-width: 600px) {
  body main {
    margin: 5% 10%;
  }
  body main .container {
    grid-template-rows: repeat(3, 1fr);
  }
  body main .container .subscription {
    grid-row: 2;
    grid-column: span 2;
    border-bottom-left-radius: 0;
  }
  body main .container .why-us {
    grid-row: 3;
    grid-column: span 2;
    border-bottom-left-radius: 10px;
  }
}

.invite {
  background-color: #fff;
}

.invite .title {
  color: #2ab2af;
  margin: 20px auto;
}

.invite .subtitle {
  color: #c0df34;
  margin: 10px auto;
  font-size: 16px;
}

.invite .text {
  color: #98a6bd;
}

.subscription, .why-us {
  color: #fff;
}

.subscription {
  background-color: #2ab2af;
}

.subscription .subtitle {
  color: #e5eff5;
  margin: 20px auto;
  font-size: 16px;
}

.subscription .price {
  margin: 10px auto;
}

.subscription .price .big {
  font-weight: 700;
  margin-right: 10px;
}

.subscription .price small {
  color: #e5eff5;
}

.subscription .text {
  color: #e5eff5;
  margin: 20px auto;
}

.subscription .btn-sucess {
  background-color: #c0df34;
}

.subscription .btn-sucess:hover {
  background-color: #9ec200;
}

.subscription .link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.why-us {
  background-color: #4ABEBD;
}

.why-us .subtitle {
  margin: 15px auto;
  font-size: 16px;
}

.why-us .list {
  color: #e5eff5;
}

.why-us .list li {
  margin-bottom: 2.5px;
}
