body {
    background-color: #F0F0F0;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: weight(regular);

    main {
        margin: 8.125% 22.5%;

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1.25fr;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(#000000, 0.25);
        
            .invite {
                grid-column: span 2;
                padding: 20px 30px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            
            .subscription {
                padding: 20px 30px;
                border-bottom-left-radius: 10px;
                .text {
                    display: flex;
                    align-items: center;
                }
            
                .price {
                    .big {
                        font-size: 25px;
                    }
                }
                
                .btn {
                    text-align: center;
                    padding: 10px 20px;
                    border-radius: 7.5px;
                    border: none;
                }
                
            }
            
            .why-us {
                padding: 20px 30px;
                border-bottom-right-radius: 10px;

                .list {
                    list-style: none;
                    font-size: 14px;
                }
            }
        }
    }
    
    @media only screen and (max-width: 1024px) {
        main {
            margin: 7.5% 12.5%;
        }
    }

    @media only screen and (max-width: 600px) {
    
        main {
            margin: 5% 10%;
        
            .container {
                grid-template-rows: repeat(3, 1fr);
            
                .subscription {
                    grid-row: 2;
                    grid-column: span 2;
                    border-bottom-left-radius: 0;
                }
    
                .why-us {
                    grid-row: 3;
                    grid-column: span 2;
                    border-bottom-left-radius: 10px;
                }
            }
        }
    }
}